<mat-tab-group>
        <mat-tab label="Newest" (click)="onClick()">
                <div *ngFor="let hero of heros">
                    <app-short-thread></app-short-thread>
                </div>
        </mat-tab>
        <mat-tab label="Unanswered" (click)="onClick()">
                <div *ngFor="let hero of heros1">
                        <app-short-thread></app-short-thread>
                    </div>
        </mat-tab>
        <mat-tab label="Top Theads" (click)="viewThread()">
                <div *ngFor="let hero of heros3">
                        <app-short-thread></app-short-thread>
                    </div>
        </mat-tab>
        <mat-tab label="Most Voted">
                <div *ngFor="let hero of heros4">
                        <app-short-thread></app-short-thread>
                    </div>
        </mat-tab>
</mat-tab-group>

