<mat-card>
  <div class="thread-info">
    <ul>
      <li>{{ short_thread.answered }}</li>
      <li>Answers</li>
      <li>{{short_thread.votes}}</li>
      <li>Votes</li>
    </ul>
  </div>
  <div class="thread-content">
    <div class="thread-body" (click)="viewThread()">
    <p>
      {{short_thread.question}}
    </p>
    <p>{{short_thread.question}}</p>
  </div>
    <div class="thread-footer">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of short_thread.tags">{{ tag }}</mat-chip>
      </mat-chip-list>  
      <mat-chip-list>
        <mat-chip>
          <i class="material-icons">account_circle</i> {{short_thread.user.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</mat-card>