<div class="header">
  <div class="header-container">
  <div class="header-left">
    <p><i class="material-icons">style</i> Stack Trace</p>
  </div>
  <div class="header-right">
      <ul>
          <li><a mat-raised-button (click)="addThread()"><i class="material-icons">library_add</i> New Thread</a></li>
          <li><a mat-raised-button (click)="signUpModal()"><i class="material-icons">person_add</i> Sign Up</a></li>
          <li><a mat-raised-button (click)="signInModal()"><i class="material-icons">vpn_key</i> Sign In</a></li>
      </ul>
  </div>
</div>
</div>
