<mat-tab-group>
        <mat-tab label="Newest">
                <app-short-thread 
                    *ngFor="let short_thread of short_threads" 
                    [short_thread]="short_thread">
                </app-short-thread>
        </mat-tab>
        <mat-tab label="Unanswered">
                <app-short-thread 
                *ngFor="let short_thread of short_threads" 
                [short_thread]="short_thread">
                </app-short-thread>
        </mat-tab>
        <mat-tab label="Top Theads">
                <app-short-thread 
                *ngFor="let short_thread of short_threads" 
                [short_thread]="short_thread">
            </app-short-thread>
        </mat-tab>
        <mat-tab label="Most Voted">
                <app-short-thread 
                *ngFor="let short_thread of short_threads" 
                [short_thread]="short_thread">
                </app-short-thread>
        </mat-tab>
</mat-tab-group>

