mat-card{
    margin: 10px 2px;
    display: flex;
}

.thread-footer{
    display: flex;
    justify-content: space-between;
}

.thread-info{
    padding: 0 25px;
}

ul {
   text-align: center;
   list-style-type: none;
}
p:nth-child(2){
    font-size: 14px;
    color:rgba(26, 24, 24, 0.568);
}
.thread-body{
    margin-bottom: 5px;
    padding: 5px;
}
.thread-body:hover{
    cursor:pointer;
    background: rgba(168, 215, 243, 0.26);
    border-radius: 15px;
}