<mat-card>
  <div class="thread-info">
    <ul>
      <li>40</li>
      <li>Answers</li>
      <li>662</li>
      <li>Votes</li>
    </ul>
  </div>
  <div class="thread-content">
    <div class="thread-body" (click)="viewThread()">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquam at?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores doloribus in eaque numquam esse eos accusantium assumenda
      consequuntur alias sunt magnam impedit, rem sequi vitae, nulla, aspernatur laudantium nobis id?
    </p>
  </div>
    <div class="thread-footer">
      <mat-chip-list>
        <mat-chip>JavaScript</mat-chip>
        <mat-chip>React</mat-chip>
        <mat-chip>Webpack</mat-chip>
      </mat-chip-list>
      <mat-chip-list class="test">
        <mat-chip>
          <i class="material-icons">account_circle</i> Faysal</mat-chip>
      </mat-chip-list>
    </div>
  </div>
</mat-card>