.container {
    display: flex;
    flex-direction: column;
    margin: 15px 90px;
  }

.container > * {
    width: 100%;
    }

hr {
    margin: 2% 3%;
}

.container textarea{
    width: 100%;
    box-sizing: border-box;
    padding:5px;
    border-radius: 15px;
    flex: 4;
}
.container textarea:focus {
    outline: none !important;
    border:1px solid #212121;
    box-shadow: 0 0 10px #212121;  
}

.mat-raised-button {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

i{
    vertical-align: middle;
    float: right;
}

i:hover{
    background-color: #DD2C00;
    cursor: pointer;
    vertical-align: middle;
    float: right;   
}