<div class="thread-container">

  <div class="container">
    <div class="vote">
      <i (click)="upVoteQ()" class="material-icons hand">keyboard_arrow_up</i>
      <p>{{ thread.vote }}</p>
      <br>
      <i (click)="downVoteQ()" class="material-icons hand">keyboard_arrow_down</i>
      <br>
      <p><span matTooltip="Know solution, Give an answer!"><i class="material-icons hand" (click)="addAnswer()">library_add</i></span></p>
    </div>

    <div class="question-container">
      <div class="question">
        <div class="title">
          {{ thread.question }}
        </div>
        <div class="description">
            {{ thread.question }}
        </div>
        <div class="info-footer">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of thread.tags">{{ tag }}</mat-chip>
          </mat-chip-list>
          <div>
            <span>{{ thread.created_at }}</span>
            <span><i class="material-icons">account_circle</i> {{ thread.user.name }}</span>
          </div>
        </div>
        <div class="new-comment">
          <textarea name="" id=""></textarea>
          <div>
            <button (click)="addResponse()" mat-raised-button color="primary">Replay</button>
          </div>
        </div>
      </div>

      <div class="response">
        <div class="response-item"  *ngFor="let response of thread.responses">
          <div class="response-content">
            {{response.body}}
          </div>
          <div class="user">
            <i class="material-icons">account_circle</i>{{response.user.name}}
            <p>{{ response.created_at }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- NEW ANSWER -->
  <ng-template #dynamicInsert>
  </ng-template>
  <!-- ANSWER-->
  <div *ngFor="let answer of thread.answers">
  <hr>
  <div class="container" >
    <div class="vote">
      <i (click)="upVoteA()" class="material-icons hand">keyboard_arrow_up</i>
      <p>{{ answer.vote }}</p>
      <br>
      <i (click)="downVoteA()"class="material-icons hand">keyboard_arrow_down</i>
    </div>
    <div class="answer-container">
      <div class="answer">
        <div class="title">
          {{ answer.body }}
        </div>
        <div class="content">
            {{answer.body}}
        </div>
        <div class="info-footer">
          <div>
            <span>{{ answer.created_at }}</span>
            <span>
              <i class="material-icons">account_circle</i> {{ answer.user.name}}</span>
          </div>
        </div>
        <div class="new-comment">
          <textarea name="" id=""></textarea>
          <div>
            <button (click)="addComment()" mat-raised-button color="primary">Replay</button>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="comment-item" *ngFor="let comment of answer.comments">
          <div class="comment-content">
            {{ comment.body }}
          </div>
          <div class="user">
            <i class="material-icons">account_circle</i> {{ comment.user.name }}
            <p>{{ comment.created_at }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
